---
---

{% include heading.html heading="News" %}

{% for news in site.data.news %}
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="square">
            {% if news.img %}
              <img src="{{ news.img | prepend: site.baseurl }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <p style="font-weight: bold">
        {% if news.url %}
          <a style="color: black" href="{{news.url}}">
        {% endif %}
            {{news.headline}}
        {% if news.url %}
          </a>
        {% endif %}

      </p>
      <p>
        {{news.subtitle}}
      </p>
      <div class="red-rule bottom">
      </div>
    </div>
  </div>
{% endfor %}

