---
---

{% include heading.html heading="Papers" %}

{% for paper in site.data.papers %}
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <p class="paper-year">
        {{paper[0]}}
      </p>
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="square">
            {% if paper[1].img %}
              <img src="{{ paper[1].img | prepend: site.baseurl }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="red-rule" style="margin-bottom: 2em;">
      </div>
      {% for entry in paper[1].papers %}
        <p>
        {% if entry.citation and entry.url %}
          <a style="color: black" href="{{entry.url}}">{{entry.citation}}</a>
        {% else %}
          {{entry}}
        {% endif %}
        </p>
      {% endfor %}
    </div>
  </div>
{% endfor %}

