---
---

{% include heading.html heading="People" %}

{% for person in site.data.people %}
  <div class="row">
    <div class="col-xs-3">
      <div class="square">
        {% if person.img %}
          <img src="{{ person.img | prepend: site.baseurl }}" />
        {% endif %}
      </div>
    </div>
    <div class="col-xs-9">
      <p style="font-weight: bold">
        {{person.name}}
      </p>
      <p>
        {{person.bio}}
      </p>
      <div class="red-rule bottom">
      </div>
    </div>
  </div>
{% endfor %}

