---
---

{% include heading.html heading="People" %}

{% for person in site.data.people %}
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="square">
            {% if person.img %}
              <img src="{{ person.img | prepend: site.baseurl }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <p style="font-weight: bold">
        {% if person.email %}
          <a style="color: black" href="mailto:{{person.email}}">
        {% endif %}
            {{person.name}}
        {% if person.email %}
          </a>
        {% endif %}
      </p>
      <p>
        {{person.bio}}
      </p>
      <div class="red-rule bottom">
      </div>
    </div>
  </div>
{% endfor %}

