<div class="nav">
  <div class="button">
    <img class="burger active" src="/assets/images/icons/burger.svg" width="48" height="48"/>
    <img class="close" src="/assets/images/icons/close.svg" width="48" height="48"/>
  </div>

  <nav class="nav-menu">
    <div>
      <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
    </div>
    <div>
      <a href="/about" {% if page.url == '/about.html' %}class="active"{% endif %}>About</a>
    </div>
    <div>
      <a href="/book" {% if page.url == '/book.html' %}class="active"{% endif %}>Book</a>
    </div>
    <div>
      <a href="/contact" {% if page.url == '/contact.html' %}class="active"{% endif %}>Contact</a>
    </div>
    <div>
      <a href="/papers" {% if page.url == '/papers.html' %}class="active"{% endif %}>Papers</a>
    </div>
    <div>
      <a href="/people" {% if page.url == '/people.html' %}class="active"{% endif %}>People</a>
    </div>
  </nav>

</div>
