a {
  text-decoration: none;
  color: red;
  &:hover {
    color: #a00;
  }
}

.container {
  position: relative;
  width: 750px;
  padding: 15px;
  @media (max-width: 750px) {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.heading {
  font-family: $title-font-family;
  font-size: 3em;
  margin-top: 2em;
}

.red-rule {
  &.bottom {
    margin-top: auto
  }
  background: red;
  height: 1em;
  width: 90%;
  margin-bottom: 1em;
}

.square {
  width: 100%;
  background: grey;
  margin-bottom: 1em;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.index {
  margin-top: 7px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  color: white;
}

.index img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in;
  &.active {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
}

.nav {
  position: fixed;
  z-index: 999;
}

.nav .button {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 45px;
  cursor: pointer;
  img {
    &.active {
      display: block;
    }
    display: none;
  }
}

.nav-menu {
  &.active {
    display: block;
  }
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.95);
  padding-top: 2em;
  text-align: center;
}

.nav-menu a {
  font-family: $title-font-family;
  font-size: 3em;
  text-decoration: none;
  color: red;
  &.active {
    color: black;
  }
  &:hover:not(.active) {
    color: #e00;
  }
}
