a {
  text-decoration: none;
  color: red;
  &:hover {
    color: #a00;
  }
}

.book-page {
  a {
    color: #0284A0;
    &:hover {
      color: #00a;
    }
  }
}

.container {
  position: relative;
  width: 767px;
  padding: 15px;
  @media (max-width: 767px) {
    width: 100%;
    padding-top: 62px;
  }
}

.container-fluid {
  @media (max-width: 767px) {
    padding-top: 62px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.heading {
  font-family: $title-font-family;
  font-size: 3em;
  margin-top: 2em;
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.red-rule {
  &.bottom {
    margin-top: auto
  }
  background: red;
  height: 1em;
  width: 90%;
  margin-bottom: 1em;
}

.square {
  width: 100%;
  margin-bottom: 1em;
}

.paper-year {
  font-weight: bold;
  font-size: 2em;
  margin-top: -12px;
  text-align: right;
  @media (max-width: 767px) {
    text-align: left;
  }
}

.index {
  margin-top: 7px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  color: white;
  padding-bottom: 177%;
}

.index img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in;
  &.active {
    opacity: 1;
    transition: opacity 0.7s ease-out;
  }
}

.index .clickspot {
  position: absolute;
  top: 20.4%;
  left: 51.5%;
  width: 41.5%;
  height: 11.5%;
}

.index .index-news {
  position: absolute;
  top: 42.4%;
  left: 45.6%;
  width: 54%;
  height: 8.8%;
  z-index: 99;
  padding: 10px 15px;
  a {
    color: white;
    font-weight: bold;
    display: block;
    font-size: 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.nav {
  position: fixed;
  z-index: 999;
  @media (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100vw;
    height: 62px;
    background: white;
  }
}

.nav .button {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 45px;
  @media (max-width: 767px) {
    top: 15px;
    right: 30px;
  }
  cursor: pointer;
  img {
    &.active {
      display: block;
    }
    display: none;
    @media (max-width: 767px) {
      width: 32px;
      height: 32px;
    }
  }

}

.nav-menu {
  &.active {
    display: block;
  }
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.95);
  padding-top: 2em;
  text-align: center;
}

.nav-menu a {
  font-family: $title-font-family;
  font-size: 3em;
  text-decoration: none;
  color: red;
  &#book-nav {
    color: #777;
  }
  &.active {
    color: black !important;
    text-shadow: none !important;
    letter-spacing: 0 !important;
  }
  &:hover:not(.active) {
    color: #e00;
  }
}
